{% extends 'base.html.twig' %}

{% block title %}Your Feed{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="mb-4">{{ user.pseudo }}'s Feed</h1>

        <div class="row">
            {% for post in posts %}
                {% include "partials/_cardPost.html.twig" with {'post': post} %}
            {% else %}
                <div class="col-12">
                    <div class="alert alert-info" role="alert">
                        No posts available.
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{encore_entry_script_tags('like')}}
{% endblock %}
