{% extends 'layouts/profile_layout.html.twig' %}

{% block title %}Your Feed - {{ user.pseudo }}{% endblock %}

{% block profileHeader %}
    {% include 'partials/_profileHeader.html.twig' with { user: user } %}
{% endblock %}

{% block postList %}
    {% if posts|length > 0 %}
        {% for post in posts %}
            <div class="container">
                {% include "partials/_cardPost.html.twig" with {'post': post} %}
            </div>
        {% endfor %}
        {% block pagination %}
            {% include "partials/_pagination.html.twig" with {
                'route': 'profile_feed',
                'parameters': {},
                'page': currentPage,
                'pages': totalPages
            } %}
        {% endblock %}
    {% else %}
        <div class="col-12">
            <div class="alert alert-info" role="alert">
                No posts available.
            </div>
        </div>
    {% endif %}
{% endblock %}

