{% extends 'base.html.twig' %}

{% block title %}Profile of {{ profileUser.pseudo }}{% endblock %}

{% block body %}
    <h1>{{ profileUser.pseudo }}</h1>
            {% include "partials/_follow.html.twig" with {'user': profileUser} %}
            {% for post in posts %}
                {% include "partials/_cardPost.html.twig" with {'post': post} %}
            {% else %}
                <div class="col-12">
                    <div class="alert alert-info" role="alert">
                        No posts available.
                    </div>
                </div>
            {% endfor %}
{% endblock %}

{% block javascripts %}
    {{encore_entry_script_tags('like')}}
{% endblock %}
