{% extends 'base.html.twig' %}

{% block title %}Profile of {{user.pseudo}}{% endblock %}

{% block body %}
    {{user.pseudo}}
    {% for post in posts %}
        <p>{{post.title}}</p>
    {% endfor %}
{% endblock %}
