{% extends 'notifications/base.html.twig' %}

{% set title = 'Notifications' %}
{% set markAsReadPath = path('mark_notifications_read') %}

{% block notification_content %}
    {% if notification.post %}
        <strong>{{ notification.user.pseudo }}</strong> a aimé 
        <a href="{{ path('post_show', {'slug': notification.post.slug}) }}">
            {{ notification.post.title }}
        </a>
    {% else %}
        <strong>{{ notification.user.pseudo }}</strong> vous suit
    {% endif %}
{% endblock %}
