{% extends 'notifications/base.html.twig' %}

{% set title = 'Like Notifications' %}
{% set markAsReadPath = path('mark_likes_read') %}

{% block notification_content %}
        <strong>{{ notification.user.pseudo }}</strong> liked 
        <a href="{{ path('post_show', {'slug': notification.post.slug}) }}">
            {{ notification.post.title }}
        </a>
{% endblock %}
