
{% extends "layouts/form_layout.html.twig" %}

{% block title %}Edition mode{% endblock %}

{% block form_title %}Edit avatar{% endblock %}

{% block form_text %}Curabitur accumsan sed risus vel faucibus. Vivamus dignissim elit elit, et sollicitudin augue fermentum id. Suspendisse sem dui, pulvinar eu suscipit ut, ultrices in urna. {% endblock %}

{% block form_content %}
    {% set image = app.user.avatar %}
    {% set imagePath = app.user.avatar %}
    {% set imageId = app.user.avatar %}
    {% set deletePath = path('profile_avatar_delete') %}

    {% include "partials/form/_editContent.html.twig" with {
        images: [image],
        imagePaths: [imagePath],
        imageIds: [imageId],
        deletePaths: [deletePath]
    } %}
{% endblock %}

{% block additionalButton %}
    <a href="{{ path('profile_banner') }}" class="btn btn-white w-52">Change banner</a>
{% endblock %}

