
{% extends "layouts/form_layout.html.twig" %}

{% block title %}Edition mode{% endblock %}

{% block form_title %}Edit banner{% endblock %}

{% block form_text %}Add a new face to your profile by selecting a new profile banner. It's really simple, all you go to do is click on the file right there and select your banner. And why not selecting a new avatar along the way ?{% endblock %}

{% block form_content %}
    {% set image = app.user.banner %}
    {% set imagePath = app.user.banner %}
    {% set imageId = app.user.banner %}
    {% set deletePath = path('profile_banner_delete') %}

    {% include "partials/form/_editContent.html.twig" with {
        images: [image],
        imagePaths: [imagePath],
        imageIds: [imageId],
        deletePaths: [deletePath]
    } %}
{% endblock %}

{% block additionalButton %}
    <a href="{{ path('profile_avatar') }}" class="btn btn-white w-52">Change avatar</a>
{% endblock %}

