{% extends "layouts/form_layout.html.twig" %}

{% block form_content %}
    {% include "partials/form/_deleteContent.html.twig" %}
{% endblock %}

{% block title %}Deletion mode{% endblock %}

{% block form_title %}Delete account{% endblock %}

{% block form_text %}We are sorry to see you go... Did we do something wrong ? Do you wanna talk about it ? Feel free to contact our team, we'll make sure to treat you right !{% endblock %}

{% block additionalButton %}
    <a href="{{ path('homepage')}}" class="btn btn-purple w-52">contact us</a>
{% endblock %}