{% extends "layouts/form_layout.html.twig" %}

{% block form_content %}
    {% include "partials/form/_deleteContent.html.twig" %}
{% endblock %}

{% block title %}Edition mode{% endblock %}

{% block form_title %}Edit password{% endblock %}

{% block form_text %}Do you want to make some changes about your password ? You are totally right ! Here it is, give us your initial password and we'll make sure to change it to something more... actual !{% endblock %}

{% block additionalButton %}
    <a href="{{ path('resume_activities')}}" class="btn btn-purple w-52">back to profile</a>
{% endblock %}
