{% extends "layouts/form_layout.html.twig" %}

{% block form_content %}
    {% include "partials/form/_deleteContent.html.twig" %}
{% endblock %}

{% block title %}Edition mode{% endblock %}

{% block form_title %}Edit password{% endblock %}

{% block form_text %}Curabitur accumsan sed risus vel faucibus. Vivamus dignissim elit elit, et sollicitudin augue fermentum id. Suspendisse sem dui, pulvinar eu suscipit ut, ultrices in urna. {% endblock %}

{% block additionalButton %}
    <a href="{{ path('resume_activities')}}" class="btn btn-purple w-52">back to profile</a>
{% endblock %}
