{% extends 'layouts/add_pictures_layout.html.twig' %}

{% block form_title %}{{ post.title }}{% endblock %}
{% block form_heading %}{{ post.title }}{% endblock %}
{% block back_button %}
    <a href="{{ path('post_pictures', {'slug': post.slug}) }}" class="btn btn-secondary mt-4">Back to Images</a>
{% endblock %}