
{% extends "layouts/form_layout.html.twig" %}

{% block title %}Picture mode{% endblock %}

{% block form_title %}Add picture{% endblock %}

{% block form_text %}Oh, another picture ! What a great idea, let's bring it to the slider of this post. You can always edit it later too, the possibilities are infinite !{% endblock %}

{% block form_content %}
    {% set images = post.postImages %}
    {% set imagePaths = [] %}
    {% set imageIds = [] %}
    {% set deletePaths = [] %}

    {% for image in images %}
        {% set imagePaths = imagePaths|merge([image.filename]) %}
        {% set imageIds = imageIds|merge([image.id]) %}
        {% set deletePaths = deletePaths|merge([path('post_picture_delete', {'id': image.id})]) %}
    {% endfor %}

    {% include "partials/form/_editContent.html.twig" with {
        images: images,
        imagePaths: imagePaths,
        imageIds: imageIds,
        deletePaths: deletePaths
    } %}

{% endblock %}

{% block additionalButton %}
    <a href="{{ path('post_edit', {'slug': post.slug}) }}" class="btn btn-white w-52">Back to edition</a>
{% endblock %}