{% extends 'base.html.twig' %}

{% block title %}Publications
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row mt-4">
			{% include "partials/_search.html.twig" %}
			{% for post in posts %}
				<div class="col-md-4">
					{% include "partials/_cardPost.html.twig" with {'post': post} %}
				</div>
			{% endfor %}
		</div>
		{% include "partials/_pagination.html.twig" with {
            'route': 'posts_index',
            'parameters': {},
            'page': currentPage,
            'pages': totalPages
        } %}
	</div>
{% endblock %}

{% block javascripts %}
	{{encore_entry_script_tags('like')}}
	{{encore_entry_script_tags('search')}}
{# <script>
    document.addEventListener('DOMContentLoaded', () => {
        const searchInput = document.querySelector('#search-input');
        const searchResults = document.querySelector('#search-results');
        const resultsList = searchResults.querySelector('ul');

        searchInput.addEventListener('input', function () {
            const query = this.value.trim();

            if (query.length > 1) {
                fetch(`/posts/search/ajax?query=${encodeURIComponent(query)}`)
                    .then((response) => response.json())
                    .then((data) => {
                        resultsList.innerHTML = '';

                        if (data.length > 0) {
                            searchResults.style.display = 'block';

                            data.forEach((result) => {
                                const item = document.createElement('li');
                                const link = document.createElement('a');
                                link.href = `/post/${result.slug}`;
                                link.textContent = `${result.title} - ${result.author}`;
                                item.appendChild(link);
                                resultsList.appendChild(item);
                            });
                        } else {
                            searchResults.style.display = 'none';
                        }
                    });
            } else {
                searchResults.style.display = 'none';
            }
        });

        searchInput.addEventListener('blur', () => {
            setTimeout(() => {
                searchResults.style.display = 'none';
            }, 200);
        });
    });
</script> #}

{% endblock %}
