{% extends 'base.html.twig' %}

{% block title %}Publications{% endblock %}

{% block body %}
<div class="slide min-h-screen bg-primary">
    <div class="container min-h-full">
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-10">
            {% for post in posts %}
                <div class="flex">
                    <div class="flex-1">
                        {% include "partials/_cardPost.html.twig" with {'post': post} %}
                    </div>
                </div>
            {% endfor %}
        </div>
        {% include "partials/_pagination.html.twig" with {
            'route': 'posts_index',
            'parameters': {},
            'page': currentPage,
            'pages': totalPages
        } %}
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('like') }}
    {{ encore_entry_script_tags('search') }}
{% endblock %}
