{% extends 'layouts/account_layout.html.twig' %}

{% set currentTab = 'requests_index' %}

{% block content %}
    <h2 class="title title-second text-tertiary-dark mb-4">Follow requests</h2>
    <div class="flex flex-col gap-5">
        {% if requests|length > 0 %}
            {% for request in requests %}
                {% include "partials/_listItem.html.twig" with {
                    type: 'request',
                    category: 'request',
                    content: request.sentBy.bio
                } %}
            {% endfor %}
            {% include "partials/_pagination.html.twig" with {
                'route': 'requests_index',
                'parameters': {},
                'page': currentPage,
                'pages': totalPages
            } %}
        {% else %}
            <div class="w-full p-4 bg-background border-2 border-tertiary-dark rounded-xl text-tertiary-dark font-bold flex flex-row gap-2 items-center">
                <i class="fas fa-info-circle"></i>
                {% if app.user.isPrivate == true %}
                    <p>You don't have any follow requests... yet !</p>
                {% else %}
                    <p>You can't receive follow requests: you've got a public account !</p>
                    <a href="{{path('profile_edit')}}" class="badge badge-primary">Change this</a>
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock %}