{% for message in messages %}
    <div class="w-full flex flex-col p-2">
        {% if message.sender == app.user %}
            <div class="w-3/4 user-message bg-secondary p-3 text-tertiary-dark rounded-xl self-end relative">
                <div class="mt-1 font-bold">{{ message.content }}</div>
                <small class="opacity-50">{{ message.timestamp|date('d/m/Y H:i') }}</small>
            </div>
        {% else %}
            <div class="w-3/4 not-user-message bg-primary-dark text-background p-3 rounded-xl self-start relative">
                <div class="mt-1 font-bold">{{ message.content }}</div>
                <small class="opacity-50">{{ message.timestamp|date('d/m/Y H:i') }}</small>
            </div>
        {% endif %}
    </div>
{% else %}
    <p>Say hi to start the conversation!</p>
{% endfor %}
