{% for message in messages %}
    <div class="w-100 d-flex flex-column p-2">
        {% if message.sender == app.user %}
            <div class="w-75 user-message bg-primary p-3 text-white rounded align-self-end position-relative">
                <div class="mt-1">{{ message.content }}</div>
                <small class="text-muted d-block mt-1">{{ message.timestamp|date('d/m/Y H:i') }}</small>
            </div>
        {% else %}
            <div class="w-75 not-user-message bg-light p-3 rounded align-self-start position-relative">
                <div class="mt-1">{{ message.content }}</div>
                <small class="text-muted d-block mt-1">{{ message.timestamp|date('d/m/Y H:i') }}</small>
            </div>
        {% endif %}
    </div>
{% else %}
    <p>Say hi to start the conversation!</p>
{% endfor %}
