<div class="card-header">
    <h2 class="card-title mb-0">{{ user.pseudo }}</h2>
    {% include 'partials/_badge.html.twig' with {
        position: mostLikedPost,
        iconClass: 'fas fa-crown'
    } only %}

    {% include 'partials/_badge.html.twig' with {
        position: mostCommentedPost,
        iconClass: 'fas fa-star'
    } only %}

    {% include 'partials/_badge.html.twig' with {
        position: mostLikedUser,
        iconClass: 'fas fa-heart'
    } only %}

    {% include 'partials/_badge.html.twig' with {
        position: mostActiveUser,
        iconClass: 'fas fa-edit'
    } only %}
    {% include 'partials/_badge.html.twig' with {
        position: mostFollowedUser,
        iconClass: 'fas fa-sun'
    } only %}
</div>
<div class="card-body">
    <p class="card-text"><strong>Email:</strong> {{ user.email }}</p>
    <p class="card-text"><strong>Joined:</strong> {{ user.timestamp|date('d M Y') }}</p>
</div>
