<div class="search-bar relative">
    <form class="flex" id="search-form">
        <div class="relative w-full">
            <input class="form-input w-full px-4 py-2 border-2 border-tertiary-dark rounded-full shadow outline-none" 
                   type="text" id="search-input" placeholder="Search...">
            <div class="absolute w-full mt-1 bg-white border border-gray-300 rounded-md shadow-lg" id="search-results" style="display: none;">
                <ul class="list-none p-3 space-y-2">
                </ul>
            </div>
        </div>
    </form>
</div>
