			<div class="search-bar">
				<form class="d-flex" id="search-form">
					<div class="dropdown">
						<input class="form-control" type="text" id="search-input" placeholder="Search...">
						<div class="dropdown-menu" id="search-results" style="display: none;">
							<ul class="list-unstyled p-3"></ul>
						</div>
					</div>
				</form>
			</div>