{% extends 'base.html.twig' %}

{% block title %}Top Liked Posts{% endblock %}

{% block body %}
    <div class="container">
        <div class="text-center my-5">
            <h1 class="display-4">Top 3 Most Liked Posts</h1>
        </div>
        {% include 'partials/_podium.html.twig' with {'items': topLikedPosts, 'itemType': 'post'} %}
    </div>

    <div class="container">
        <div class="text-center my-5">
            <h1 class="display-4">Top 3 Most Commented Posts</h1>
        </div>
        {% include 'partials/_podium.html.twig' with {'items': topCommentedPosts, 'itemType': 'post'} %}
    </div>

    <div class="container">
        <div class="text-center my-5">
            <h1 class="display-4">Top 3 Most Liked Users</h1>
        </div>
        {% include 'partials/_podium.html.twig' with {'items': topLikedUsers, 'itemType': 'user'} %}
    </div>

    <div class="container">
        <div class="text-center my-5">
            <h1 class="display-4">Top 3 Most Active Users</h1>
        </div>
        {% include 'partials/_podium.html.twig' with {'items': topCreators, 'itemType': 'user'} %}
    </div>


{# most liked posts

<p class="card-text">{{ post.likes|length }} Likes</p>
 #}

{# most commented posts

<p class="card-text">{{ post.comments|length }} Comments</p>
 #}


{# most liked users

<p class="card-text">{{ user.total_likes }} Likes</p>
 #}

{# most prolific users

<p class="card-text">{{ user.post_count }} Posts</p>
 #}

{% endblock %}
