{% extends 'layouts/account_layout.html.twig' %}

{% block title %}Orders{% endblock %}

{% block content %}
	{% block accountHeader %}{% endblock %}
	
    <div class="flex justify-between items-center mt-8 mb-4">
        <h2 class="title title-second text-tertiary-dark">Orders</h2>
		{% if 'ROLE_ADMIN' in app.user.roles%}
			<div class="flex gap-2">
				<a href="{{ path('admin_orders_paid') }}" class="btn btn-success btn-small">paid</a>
				<a href="{{ path('admin_orders_unpaid') }}" class="btn btn-danger btn-small">unpaid</a>
			</div>
		{% else %}
        	<a href="{{ path('cart_show') }}" class="text-tertiary-dark underline">View cart</a>
		{% endif %}
    </div>
    {% include "partials/_orderItem.html.twig" with {orders: orders} %}
	{% block pagination %}{% endblock %}
{% endblock %}