{% extends "base.html.twig" %}

{% block title %}
    {% if currentTab == 'payment_success' %}
        Paiement success
    {% elseif currentTab == 'payment_error' %}
        Paiement error
    {% endif %}
{% endblock %}

{% block body %}
	<div class="slide min-h-screen bg-background flex justify-center items-center
			    {% if currentTab == 'payment_success' %}
			        payment-success
			    {% else %}
			        payment-error
			    {% endif %}">
		<div class="lg:w-1/2 md:w-[70%] w-[90%] border-tertiary-dark shadow rounded-xl h-[1/2] flex flex-col relative">
			{% include "partials/_cardHeader.html.twig" with { backgroundClass: 'bg-tertiary' } %}
			<div class="bg-white shadow-md border-2 border-tertiary-dark md:px-20 px-4 py-6 rounded-b-xl flex-1 space-y-5">
				<h2 class="title title-second text-tertiary-dark text-center">
					{% if currentTab == 'payment_success' %}
						Paiement success !
					{% elseif currentTab == 'payment_error' %}
						Paiement error...
					{% endif %}
				</h2>
				<p class="text-center leading-7">
					{% if currentTab == 'payment_success' %}
						Thank you for ordering on CuteStorm ! Feel free to come back to us whenever inspiration hits :)
					{% elseif currentTab == 'payment_error' %}
						Uh ho, there has been a problem with your payment... Contact us to discuss about it. Don't forget to mention your order reference.
					{% endif %}
				</p>
				<a href="{{path('orders_index')}}" class="btn btn-yellow w-40 mx-auto">< Orders</a>
					<div class="w-24 h-24 absolute -bottom-12 -right-12 md:block hidden">
						{% if currentTab == 'payment_success' %}
							<img src="/images/payment-success-icon.svg" alt="payment-success" class="w-full h-full object-contain">
						{% elseif currentTab == 'payment_error' %}
							<img src="/images/payment-error-icon.svg" alt="payment-success" class="w-full h-full object-contain">
						{% endif %}
					</div>
				</div>
			</div>
		</div>
		{% endblock %}
