{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <div class="w-full flex flex-row justify-center">
            <div>
                <div>
                    {% block profileHeader %}
                    {% endblock %}
                </div>

                {% if posts|length > 0 %}
                    {# {% block postList %}{% endblock %} #}
                    {% block pagination %}{% endblock %}
                {% else %}
                        <div class="col-12">
                            <div class="alert alert-info">
                                No posts available.
                            </div>
                        </div>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('like') }}
{% endblock %}
