{% extends 'base.html.twig' %}

{% block title %}Product Store
{% endblock %}

{% block body %}
	<div class="container my-5">
		<div class="row">
			<div class="col-md-3">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Filter by color</h5>
						<form>
							<div class="form-group">
								<select class="form-control" id="color" name="color" onchange="this.form.submit()">
									<option value="">All</option>
									{% for color in colors %}
										<option value="{{ color.id }}" {% if selectedColor == color.id %} selected {% endif %}>{{ color.name }}</option>
									{% endfor %}
								</select>
							</div>
							<h5 class="card-title">Filter by category</h5>
							<div class="form-group">
								<select class="form-control" id="category" name="category" onchange="this.form.submit()">
									<option value="">All</option>
									{% for category in categories %}
										<option value="{{ category.id }}" {% if selectedCategory == category.id %} selected {% endif %}>{{ category.name }}</option>
									{% endfor %}
								</select>
							</div>
							<h5 class="card-title">Sort by</h5>
							<div class="form-group">
								<select class="form-control" id="sort" name="sort" onchange="this.form.submit()">
									<option value="">Default</option>
									<option value="name_asc" {% if sort == 'name_asc' %} selected {% endif %}>Name A-Z</option>
									<option value="name_desc" {% if sort == 'name_desc' %} selected {% endif %}>Name Z-A</option>
									<option value="date_asc" {% if sort == 'date_asc' %} selected {% endif %}>Date Oldest First</option>
									<option value="date_desc" {% if sort == 'date_desc' %} selected {% endif %}>Date Newest First</option>
								</select>
							</div>
						</form>

					</div>
				</div>
			</div>
			<div class="col-md-9">
				<h1 class="mb-4">Our Products</h1>
                <div class="search-bar">
                    <form class="d-flex" id="search-form">
                        <div class="dropdown">
                            <input class="form-control" type="text" id="search-input" placeholder="Search...">
                            <div class="dropdown-menu" id="search-results" style="display: none;">
                                <ul class="list-unstyled p-3"></ul>
                            </div>
                        </div>
                    </form>
                </div>
				{% if products|length > 0 %}
					<div class="row">

						{% for product in products %}
							{% include "partials/_cardProduct.html.twig" %}
						{% endfor %}
					</div>
					{% include "partials/_pagination.html.twig" with {
                    'route': 'store',
                    'parameters': {},
                    'page': currentPage,
                    'pages': totalPages
                } %}
				{% else %}
					<p>No products... yet</p>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const searchInput = document.querySelector('#search-input');
        const searchResults = document.querySelector('#search-results');
        const resultsList = searchResults.querySelector('ul');

        searchInput.addEventListener('input', function () {
            const query = this.value.trim();

            if (query.length > 1) {
                fetch(`/store/search/ajax?query=${encodeURIComponent(query)}`)
                    .then((response) => response.json())
                    .then((data) => {
                        resultsList.innerHTML = '';

                        if (data.length > 0) {
                            searchResults.style.display = 'block';

                            data.forEach((result) => {
                                const item = document.createElement('li');
                                const link = document.createElement('a');
                                link.href = `/product/${result.slug}`;
                                link.textContent = `${result.name}`;
                                item.appendChild(link);
                                resultsList.appendChild(item);
                            });
                        } else {
                            searchResults.style.display = 'none';
                        }
                    });
            } else {
                searchResults.style.display = 'none';
            }
        });

        searchInput.addEventListener('blur', () => {
            setTimeout(() => {
                searchResults.style.display = 'none';
            }, 200);
        });
    });
</script>

{% endblock %}
