{% extends "layouts/form_layout.html.twig" %}

{% block defaultBackgroundClass 'square-background' %}

{% block title %}Color mode{% endblock %}

{% block form_title %}Add a color{% endblock %}

{% block form_text %}Choosing the right tone is always such a pain in the-.... Wait, let's keep the store casual and pretty by adding a new color to your vibrant palette. The more precise it is, the best your filters will work... Just to help, use the eyedroper and pick a color before adding its HEX code into your database.{% endblock %}

{% block form_default %}
        <div class="w-full">
            <div class="flex md:flex-row flex-col justify-between md:items-center mb-5">
                <div class="w-1/3 font-bold text-tertiary-dark">
                    Pick a color:
                </div>
                <div class="md:w-2/3 w-full">
                    <input type="text" id="colorPicker" />
                </div>
            </div>
        </div>
        {{ form_start(myForm) }}
            {{ form_widget(myForm) }}
        <button type="submit" class="btn btn-yellow mt-10 w-52">Save</button>
        {{ form_end(myForm) }}
    </div>
{% endblock %}

{% block additionalButton %}
    <a href="{{ path('products_index')}}" class="btn btn-purple w-52">back to products</a>
{% endblock %}

{% block javascripts %}
<script>
document.addEventListener('DOMContentLoaded', function() {
    const colorPickerElement = document.getElementById('colorPicker');
    if (!colorPickerElement) {
        console.error('Element with ID "colorPicker" not found');
        return;
    }

    const pickr = Pickr.create({
        el: colorPickerElement,
        theme: 'classic',

        swatches: [
            '#000000', '#ffffff', '#ff0000', '#00ff00', '#0000ff',
            'rgba(255, 0, 0, 0.5)', 'rgba(0, 255, 0, 0.5)', 'rgba(0, 0, 255, 0.5)'
        ],

        components: {
            // Main components
            preview: true,
            opacity: true,
            hue: true,

            // Input / output Options
            interaction: {
                hex: true,
                rgba: true,
                hsla: true,
                input: true,
                clear: true,
                save: true
            }
        }
    });

    pickr.on('change', (color) => {
        colorPickerElement.value = color.toHEXA().toString();
    });
});
</script>
{% endblock %}
