{% extends "layouts/form_layout.html.twig" %}

{% block form_content %}
    {% include "partials/form/_deleteContent.html.twig" %}
{% endblock %}

{% block title %}Report mode{% endblock %}

{% block form_title %}Report element{% endblock %}

{% block form_text %}
    Why do you want to report this element ? Please explain it to us :)
{% endblock %}

{% block additionalButton %}
    <a href="{{ path('posts_index')}}" class="btn btn-purple w-52">back to posts</a>
{% endblock %}