@import 'fonts.scss';
@import 'mixins.scss';
@import 'variables.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* scrollbar edge-chrome-safari */
.custom-scrollbar::-webkit-scrollbar {
    width: 12px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: $tertiary;
    border-radius: 12px; 
}

.custom-scrollbar::-webkit-scrollbar-track {
    background-color: $tertiaryLight;
    border-radius: 12px; 
}

/* scrollbar firefox */
.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: $tertiary $tertiaryLight;
}

.mediaQuery{
    @media all and (max-width: 1700px){
        height:448px;
    }
    @media all and (max-width: 1600px){
        height:280px;
    }
    @media all and (max-width: 768px){
        height:192px;
    }
}

.mediaQuery2{
    @media all and (max-width: 1700px){
        height:100%;
    }
    @media all and (max-width: 1600px){
        height:36vh;
    }
    @media all and (max-width: 1200px){
        height:100%;
    }
}

.mediaQuery3{
    @media all and (max-width: 1700px){
        height:90%;
    }
    @media all and (max-width: 1600px){
        height:72%;
    }
    @media all and (max-width: 1200px){
        height:90%;
    }
}
//----------------------GENERAL SETTINGS----------------------
body{
    color:$tertiary;
}

.slide{
    width:100%;
    // min-height: 100vh;
    position:relative;
    padding-top:80px;
    padding-bottom:80px;
    @media all and (max-width: 1200px){
        padding-top: 50px;
        padding-bottom: 50px;
    }
    @media all and (max-width: 768px){
        padding-top: 80px;
        padding-bottom: 10px;
    }
}

.container{
    width:85%!important;
    margin: 0 auto!important;
}

p, a{
    font-size: 14px;
}

.font-gliker {
    font-family: 'Gliker Black Condensed', sans-serif;
}

.title{
    font-family: 'Gliker Black Condensed', sans-serif;
    font-size: 60px;
    &-second{
        font-size: 45px!important;
    }
    &-third{
        font-size: 30px!important;
    }
    @media all and (max-width: 768px){
        font-size: 40px;
    }
}

.subtitle{
    font-size: 17px;
    font-weight: 900;
    color: $tertiaryDark;
}

.shadow{
    box-shadow: 5px 5px $tertiaryDark; 
}

.swiper-container {
    overflow-x: hidden;
    .swiper-pagination-bullet{
        background-color: transparent;
        opacity: 1;
        border: 2px solid $background;
        &-active{
            background-color: $background;
            border: none;
        }
    }
    &#review-swiper{
        height: 35vh;
        @media all and (max-width: 1200px){
            height:25vh;
        }
        @media all and (max-width: 768px){
            height:55vh;
        }
        .swiper-pagination-bullet{
            border: 2px solid $background;
                &-active{
                    background-color: $background;
            }
        }
    }
}

.swiper-width{
    width:99%;
}

.swiper-button-prev, .swiper-button-next{
    color: $background;
}

//----------------------BUTTONS----------------------
.btn{
    display:block;
    border-radius: 50px;
    border: 2px solid $tertiaryDark;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    padding: 8px 20px;
    transition: all 0.2s;
    font-size: 14px;
    &:hover{
        transform: translate(-4px, -4px);
        box-shadow: 5px 5px $tertiaryDark; 
    }
    &-purple{
        color: $background;
        background-color: $primaryDark;
        &:hover{
            background-color: $primaryHover;
        }
    }
    &-yellow{
        color: $tertiaryDark;
        background-color: $secondary;
        &:hover{
            background-color: $secondaryHover;
        }
    }
    &-white{
        color: $tertiaryDark;
        background-color: $background;
        &:hover{
            background-color: $backgroundHover;
        }
    }
    &-success{
        color: $background;
        background-color: $success;
        &:hover{
            background-color: $successHover;
        }
    }
    &-danger{
        color: $background;
        background-color: $dangerDark;
        &:hover{
            background-color: $dangerHover;
        }
    }
    &-blue{
        color: $background;
        background-color: $highlight;
        &:hover{
            background-color: $highlightDark;
        }
    }
    &-squared{
        border-radius: 0px!important;
    }
    &-small{
        font-size: 12px!important;
        padding: 6px 15px!important;
        color: $background!important;
    }
}

.badge{
    width: 1.25rem;
    height: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid $tertiaryDark;
    color: $white;
    padding: 1rem;
    border-radius: 100%;
    transition: all 0.5s;
    &-primary{
        background-color: $primaryDark;
        &:hover{
            background-color: $primaryHover;
        }
    }
    &-success{
        background-color: $success;
        &:hover{
            background-color: $successHover;
        }
    }
    &-danger{
        background-color: $dangerDark;
        &:hover{
            background-color: $dangerHover;
        }
    }
    &-highlight{
        background-color: $highlight;
        &:hover{
            background-color: $highlightDark;
        }
    }
    &-yellow{
        background-color: $secondary;
        &:hover{
            background-color: $secondaryHover;
        }
    }
}

.like-button {
    &.disabled{
        color:$tertiaryDark;
    }
}

.not-liked {
    color: $tertiary;
}

.liked {
    color: $dangerDark;
}


//----------------------FORMS----------------------

form{
    #review div{
        display: flex;
        .form-label{
            font-weight: 900;
            color: $tertiaryDark;
            margin-bottom: 5px;
        }
        input, textarea{
            border: 2px solid $tertiaryDark;
            padding: 1rem;
            border-radius: 0.75rem;
            outline: none;
        }
    }
    #review div:nth-of-type(1){
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        input{
            width: 10%;
            @media all and (max-width: 768px){
                width:50%;
            }
        }
    }
    #review div:nth-of-type(2){
        display: flex;
        flex-direction: column;
    }
}

.form-check-comment{
    .form-check{
        width: 100%;
        display: flex;
        flex-direction: row;
        label{
            font-weight: 900;
            color: $tertiaryDark;
            padding-left: 25px;
        }
        input{
            width:20px;
        }
    }
}

.form-price{
    .input-group{
        width:100%;
        display: flex;
        align-items: center;
        height:55px;
        border-radius: 0.75rem;
        box-shadow: 5px 5px $tertiaryDark; 
        span{
            height:100%;
            background-color: $tertiary;
            padding: 15px;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            border: 2px solid $tertiaryDark;
            color: $tertiaryDark;
            font-weight: 900;
        }
        input{
            border-top-left-radius: 0px!important;
            border-bottom-left-radius: 0px!important;
            border-bottom-right-radius: 0.75rem;
            border-top-right-radius: 0.75rem;
            box-shadow: none;
            border: 2px solid $tertiaryDark;
            border-left:none;
            height:100%;
        }
    }
}


form[name="product"], form[name="post"]{
    legend{
        display: none!important;
    }
}

form[name="add_to_cart"]{
    .form-check{
        display: none!important;
    }
}

#product_productVariants, #product_productImages, #post_postImages {
    display: none;
}

#comment_content, #reply_content{
    width: 100%;
    height:50px!important;
    border: 1px solid $tertiaryLight;
    border-radius: 0.75rem;
    padding: 10px;
    outline: none;
}

#contact_message{
    height:170px!important;
}

#message_content{
    width: 100%;
    height:70px;
    border-radius: 0.75rem;
    outline:none;
}

input[type=file]::file-selector-button {
    height:100%;
    border: none!important;
    background: $tertiary;
    padding: 8px 12px;
    color: $white;
    cursor: pointer;
    border-top-left-radius: 0.75rem;
    border-bottom-left-radius: 0.75rem;
    font-family: 'Quicksand', sans-serif;
    margin-right: 8px;
}

input[name='product_image[file]'], input[name='post_image[file]'], input[name*='product[productImages]['], input[name*='post[postImages]['], input[name='registration[avatar]'], input[name='registration[banner]'], input[name='avatar[newAvatar]'], input[name='banner[newBanner]']{
    padding:0px!important;
}

/* WebKit (Chrome, Safari, Edge) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

textarea{
    resize:none!important;
}

.step {
    display: none;
}

.step.active {
    display: block;
}

.stepButton{
    display: block;
    width: 150px;
    background-color: $tertiaryDark;
    padding: 0.5rem 2rem;
    border-radius: 1000px;
    font-weight: 900;
    color: $background;
    text-align: center;
}

.invalid-feedback{
    color:$dangerDark;
    font-weight: 900;
    margin-top: 5px;
}

//----------------------ANIMATIONS----------------------
@keyframes slide-in {
    from {
      transform: translateY(-100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
@keyframes slide-out {
from {
    transform: translateY(0);
    opacity: 1;
}
to {
    transform: translateY(100%);
    opacity: 0;
}
}

.slide-in {
    animation: slide-in 0.5s forwards;
}

.slide-out {
    animation: slide-out 0.5s forwards;
}

.textDiv {
    transition: opacity 0.5s;
}

.card, .opacity-0 {
    opacity: 0;
    transition: opacity 0.5s;
}

.card{
    @media all and (max-width: 1200px){
        opacity: 1;
    }
}

.card-visible, .opacity-100 {
    opacity: 1;
}
  
.opacity-100 {
    transition: opacity 0.5s;
}

@keyframes twinkle {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
  
.star {
    opacity: 1;
    animation: twinkle 2s infinite ease-in-out;
}

//----------------------HOME----------------------
#concept-slide{
    min-height: 130vh;
    @media all and (max-width: 1200px){
        min-height:130vh;
    }
    @media all and (max-width: 768px){
        min-height:140vh;
    }
}

.flip-card{
    width: 80px;
    height: 10vh;
    perspective: 1000px;
    cursor: pointer;
    background-color: transparent;
    padding-bottom: 80px;
    @media all and (max-width: 1200px){
       height:5vh;
    }
    @media all and (max-width: 768px){
       width:65px;
       padding-bottom: 70px;
    }
    &:hover .flip-card-inner {
        transform: rotateY(180deg);
      }
      &:hover .flip-card-inner.active {
        transform: rotateY(0deg);
      }
    .flip-card-inner{
        position: relative;
        width: 100%;
        height: 100%;
        transition: all 0.3s;
        transform-style: preserve-3d;
    }
    .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
    }
    .flip-card-front{
        transform: rotateY(0deg);
    }
    .flip-card-back{
        transform: rotateY(180deg);
    }
}

@media all and (max-width: 1200px) {
    .flip-card.active .flip-card-inner {
      transform: rotateY(180deg);
    }
}


//----------------------AWARDS----------------------
.podium-step {
transition: all 0.7s ease-in-out;
}
  
.podium-badge {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
    margin-left: 10px;
}

.animate-podium {
    animation: grow-height 1s ease-in-out;
  }
  
@keyframes grow-height {
0% {
    height: 0;
}
100% {
    height: var(--height);
}
}

.bg-gold {
    background-color: $secondary;
}

.bg-silver {
    background-color: $primaryDark;
}

.bg-bronze {
    background-color: $background;
}

.podium-row{
    height:500px!important;
}

//----------------------COMMENTS & MESSAGES----------------------

.replies, .reply-form-container{
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease;
}

.replies.show, .reply-form-container.show {
    max-height: 1000px;
    opacity: 1;
}

.not-user-message:after {
	content: '';
	position: absolute;
	bottom: -7px;
	left: 10px;
	width: 0;
	border-width: 7px 10px 0 0;
	border-style: solid;
	border-color: $primaryDark transparent;
}

.user-message:after {
	content: '';
	position: absolute;
	bottom: -7px;
	right: 10px;
	width: 0;
	border-width: 7px 0 0 10px;
	border-style: solid;
	border-color: $secondary transparent;
}




//----------------------PRODUCT----------------------

.color-choice label {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.color-choice input {
    margin-right: 10px;
}

.color-choice .color-swatch {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
}

.out-of-stock {
    text-decoration: line-through;
    color: #6c757d;
    font-size: 14px;
}

.color-selector {
    width:400px;
    height: 200px;
    overflow-y: auto;
}


//----------------------SEARCH BAR----------------------
#search-input{
    border-radius: 80px;
}

#search-results ul li{
    border-bottom: 1px solid black;
    padding: 8px;
    &:last-of-type{
        border:none;
    }
}
#search-results ul li a, .dropdown-item{
    color: gray!important;
}



