@import 'fonts.scss';
@import 'variables.scss';
@import 'mixins.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    color:$tertiary;
}

.font-gliker {
    font-family: 'Gliker Black Condensed', sans-serif;
}

.slide{
    width:100%;
    // min-height: 100vh;
    position:relative;
    padding-top:80px;
    padding-bottom:80px;
    @media all and (max-width: 1200px){
        padding-top: 50px;
        padding-bottom: 50px;
    }
}
.container{
    width:90%!important;
    margin: 0 auto!important;
}

p, a{
    font-size: 14px;
}

.title{
    font-family: 'Gliker Black Condensed', sans-serif;
    font-size: 60px;
    @media all and (max-width: 768px){
        font-size: 40px;
    }
}

.subtitle{
    font-size: 17px;
    font-weight: 900;
    color: $tertiaryDark;
}

.btn{
    display:block;
    border-radius: 50px;
    border: 2px solid $tertiaryDark;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    padding: 8px 20px;
    transition: all 0.5s;
    &-purple{
        color: $background;
        background-color: $primaryDark;
        &:hover{
            background-color: $primaryHover;
        }
    }
    &-yellow{
        color: $tertiaryDark;
        background-color: $secondary;
        &:hover{
            background-color: $secondaryHover;
        }
    }
    &-white{
        color: $tertiaryDark;
        background-color: $background;
        &:hover{
            background-color: $backgroundHover;
        }
    }
}


.linear-background{
    @include imgCover(cover);
    background-image: url(../../public/images/linear-background.svg);
    // height:80vh;
    width:50%;
    @media all and (max-width: 1200px){
        width:100%;
        height:50%;
    }
    @media all and (max-width: 768px){
        height:30%;
    }
}

.shadow{
    box-shadow: 5px 5px $tertiaryDark; 
}

.logo-eyes{
    @include imgCover(contain);
    background-image: url(../../public/images/cutestorm-logo.svg);
}
.normal-eyes{
    height:3.5vh;
    @media all and (max-width: 1200px){
        height:2.5vh;
    }
}
.miniature-eyes{
    height:2vh;
    @media all and (max-width: 1200px){
        height:1vh;
    }
}

/*----NAV----*/
.mega-menu-img{
    @include imgCover(cover);
    background-image: url(../../public/images/mega-menu.jpg);
    height:30vh;
}

.mega-menu-background{
    @include imgCover(cover);
    background-image: url(../../public/images/mega-menu-background.svg);
    width:65%;
    height:50vh;
}

@keyframes slide-in {
    from {
      transform: translateY(-100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
@keyframes slide-out {
from {
    transform: translateY(0);
    opacity: 1;
}
to {
    transform: translateY(100%);
    opacity: 0;
}
}

.slide-in {
    animation: slide-in 0.5s forwards;
}

.slide-out {
    animation: slide-out 0.5s forwards;
}


/*-----HOME-----*/
#homepage-hero{
    @include imgCover(contain);
    background-image: url(../../public/images/homepage-hero.png);
    width:90%;
    height:80vh;
    @media all and (max-width: 1200px){
        height:65vh;
    }
    @media all and (max-width: 768px){
        height:80vh;
    }
}

#concept-slide{
    min-height: 130vh;
    @media all and (max-width: 1200px){
        min-height:130vh;
    }
    @media all and (max-width: 768px){
        min-height:140vh;
    }
}

#concept-img{
    @include imgCover(contain);
    background-image: url(../../public/images/concept.svg);
    width:70%;
    height:80vh;
    @media all and (max-width: 1200px){
        height:40vh;
    }
    @media all and (max-width: 768px){
        height:100vh;
    }  
}

#reviews-slide{
    @include imgCover(cover);
    background-image: url(../../public/images/reviews.webp);
    height:55vh;
    @media all and (max-width: 1200px){
        height:40vh;
    }
    @media all and (max-width: 768px){
        background-position: 75% 50%;
        height:65vh;
    }  
}

.swiper-container {
    height: 35vh;
    overflow-x: hidden;
    @media all and (max-width: 1200px){
        height:25vh;
    }
    @media all and (max-width: 768px){
        height:50vh;
    }
}

.swiper-width{
    width:99%;
}

.swiper-pagination-bullet-active{
    background-color: $background;
}

.rank{
    @include imgCover(cover);
    height:5vh;
    width:77%!important;
    @media all and (max-width: 1200px){
        height:2vh;
     }
    &#rank1{
        background-image: url(../../public/images/rank1.svg);
    }
    &#rank2{
        background-image: url(../../public/images/rank2.svg);
        @media all and (max-width: 768px){
            // width:20%;
            background-size: contain!important;
         }
    }
}


.flip-card{
    width: 80px;
    height: 10vh;
    perspective: 1000px;
    cursor: pointer;
    background-color: transparent;
    padding-bottom: 80px;
    @media all and (max-width: 1200px){
       height:5vh;
    }
    @media all and (max-width: 768px){
       width:65px;
       padding-bottom: 70px;
    }
    &:hover .flip-card-inner {
        transform: rotateY(180deg);
      }
      &:hover .flip-card-inner.active {
        transform: rotateY(0deg);
      }
    .flip-card-inner{
        position: relative;
        width: 100%;
        height: 100%;
        transition: all 0.3s;
        transform-style: preserve-3d;
    }
    .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
    }
    .flip-card-front{
        transform: rotateY(0deg);
    }
    .flip-card-back{
        transform: rotateY(180deg);
    }
}

@media all and (max-width: 1200px) {
    .flip-card.active .flip-card-inner {
      transform: rotateY(180deg);
    }
}

#slide-store{
    background-image: url(../../public/images/slide-store.webp);
}

#slide-community{
    background-image: url(../../public/images/slide-community.webp);
}
.like-button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 12px; /* Adjust size if needed */
}

.like-button.not-liked .fa-heart {
    color: gray; /* Color of the icon when not liked */
}

.like-button.liked .fa-heart {
    color: red; /* Color of the icon when liked */
}

.like-count {
    font-size: 1rem;
}


.notification-indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: blue;
    border-radius: 50%;
    margin-right: 10px;
}

.replies, .reply-form-container{
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease;
}

.replies.show, .reply-form-container.show {
    max-height: 1000px;
    opacity: 1;
}


.not-user-message:after {
	content: '';
	position: absolute;
	bottom: -7px;
	left: 10px;
	width: 0;
	border-width: 7px 10px 0 0;
	border-style: solid;
	border-color: #eceff1 transparent;
}

.user-message:after {
	content: '';
	position: absolute;
	bottom: -7px;
	right: 10px;
	width: 0;
	border-width: 7px 0 0 10px;
	border-style: solid;
	border-color: #2196F3 transparent;
}

.input-group{
    width: 90%;
}

 #message_content{
    resize:none;
    height:70px;
    border-radius: 15px;
}

.podium-badge {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
    margin-left: 10px;
}

.bg-gold {
    background-color: #FFD700!important;
}

.bg-silver {
    background-color: #C0C0C0!important;
}

.bg-bronze {
    background-color: #CD7F32!important;
}

.podium-row{
    height:500px!important;
}

.color-choice label {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.color-choice input {
    margin-right: 10px;
}

.color-choice .color-swatch {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
}

.out-of-stock {
    text-decoration: line-through;
    color: #6c757d;
    font-size: 14px;
}

.color-selector {
    width:400px;
    height: 200px;
    overflow-y: auto;
}

#search-input{
    border-radius: 80px;
}
#search-results ul li{
    border-bottom: 1px solid black;
    padding: 8px;
    &:last-of-type{
        border:none;
    }
}
#search-results ul li a, .dropdown-item{
    color: gray!important;
}