@import 'font.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-gliker {
    font-family: 'Gliker Black Condensed', sans-serif;
}

.like-button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 12px; /* Adjust size if needed */
}

.like-button.not-liked .fa-heart {
    color: gray; /* Color of the icon when not liked */
}

.like-button.liked .fa-heart {
    color: red; /* Color of the icon when liked */
}

.like-count {
    font-size: 1rem;
}

/* styles.css */

.notification-indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: blue;
    border-radius: 50%;
    margin-right: 10px;
}

.replies, .reply-form-container{
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease;
}

.replies.show, .reply-form-container.show {
    max-height: 1000px;
    opacity: 1;
}


.not-user-message:after {
	content: '';
	position: absolute;
	bottom: -7px;
	left: 10px;
	width: 0;
	border-width: 7px 10px 0 0;
	border-style: solid;
	border-color: #eceff1 transparent;
}

.user-message:after {
	content: '';
	position: absolute;
	bottom: -7px;
	right: 10px;
	width: 0;
	border-width: 7px 0 0 10px;
	border-style: solid;
	border-color: #2196F3 transparent;
}

.input-group{
    width: 90%;
}

 #message_content{
    resize:none;
    height:70px;
    border-radius: 15px;
}

.podium-badge {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
    margin-left: 10px;
}

.bg-gold {
    background-color: #FFD700!important;
}

.bg-silver {
    background-color: #C0C0C0!important;
}

.bg-bronze {
    background-color: #CD7F32!important;
}

.podium-row{
    height:500px!important;
}

.color-choice label {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.color-choice input {
    margin-right: 10px;
}

.color-choice .color-swatch {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
}

.out-of-stock {
    text-decoration: line-through;
    color: #6c757d;
    font-size: 14px;
}

.color-selector {
    width:400px;
    height: 200px;
    overflow-y: auto;
}

#search-input{
    border-radius: 80px;
}
#search-results ul li{
    border-bottom: 1px solid black;
    padding: 8px;
    &:last-of-type{
        border:none;
    }
}
#search-results ul li a, .dropdown-item{
    color: gray!important;
}