$primary : #E189FF;
$primaryDark: #BD00FF;
$primaryHover: #A005D6;
$secondary: #FFD600;
$secondaryDark: #FFA500;
$secondaryHover: #E8C305;
$tertiary: #888888;
$tertiaryDark: #474747;
$tertiaryLight: #CEC8D5;
$background: #F3EBFF;
$backgroundHover: #E8DCF9;
$success: #32CD32;
$danger: #FF00B8;
$dangerlight: #FF84DC;
$dangerDark: #FF004D;
$highlight: #00BFFF;
$highlightDark: #0075FF;
$white: #FBF9FF;
