$primary : #E189FF;
$primaryDark: #BD00FF;
$secondary: #FFD600;
$secondaryDark: #FFA500;
$tertiary: #474747;
$tertiaryLight: #CEC8D5;
$background: #F3EBFF;
$success: #32CD32;
$danger: #FF00B8;
$highlight: #00BFFF;
