<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CuteStorm - {% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" sizes="16x16" href="../../images/cutestorm-logo.svg">
        <link rel="icon" sizes="32x32" href="../../images/cutestorm-logo.svg">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
        <link rel="stylesheet" href="https://unpkg.com/@simonwep/pickr/dist/themes/classic.min.css" />
        <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <script src="https://unpkg.com/@simonwep/pickr/dist/pickr.min.js"></script>
        <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700" rel="stylesheet">
        {{ encore_entry_link_tags('app') }}
        {{ encore_entry_script_tags('app') }}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block header %}
            {% include "partials/_header.html.twig" with { megaMenu: 'bg-background', textColor: 'text-tertiary', textHover : 'hover:text-tertiary-light' } %}
        {% endblock %}

        {% for label, messages in app.flashes %}
            <div class="container px-4 py-2 absolute top-10 left-1/2 transform -translate-x-1/2 z-50">
                <div class="p-4 mb-4 text-sm rounded-full font-bold border-2 border-tertiary-dark
                    {% if label == 'danger' %}
                        bg-danger-dark text-white
                    {% elseif label == 'warning' %}
                        bg-secondary text-white
                    {% elseif label == 'success' %}
                        bg-success text-white
                    {% elseif label == 'info' %}
                        bg-highlight text-white
                    {% endif %}
                ">
                    {% for message in messages %}
                        <div class="flex gap-2 items-center">
                            {% if label == 'danger' %}
                                <i class="fas fa-exclamation-triangle"></i>
                            {% elseif label == 'warning' %}
                                <i class="fas fa-exclamation-circle"></i>
                            {% elseif label == 'success' %}
                                <i class="fas fa-check-circle"></i>
                            {% elseif label == 'info' %}
                                <i class="fas fa-info-circle"></i>
                            {% endif %}
                            <p>{{ message|raw }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}



        {% block body %}{% endblock %}
        {% block javascripts %}
        {% endblock %}
    </body>
</html>