
{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
<div class="container">
    <h1>Hello</h1>
</div>

    <h1>Contactez-nous</strong></h1>

    {{form_start(myForm)}}

        {{form_widget(myForm)}}
        <button type="submit" class="btn btn-primary mt-3">Envoyer</button>

    {{form_end(myForm)}}

{% endblock %}