{% extends 'base.html.twig' %}

{% block title %}Privacy Policy{% endblock %}
{% block body %}
<div class="slide bg-background">
    <div class="container mx-auto mt-10 p-5">
        <h2 class="title text-primary-dark">Privacy Policy</h2>
        <div>
            <h3 class="text-xl font-semibold mt-4 text-tertiary-dark">Site</h3>
            <p>cutestorm.kimberley-quenon.be</p>
            <h3 class="text-xl font-semibold  mt-4 text-tertiary-dark">Host</h3>
            <p>The site is hosted by
                <a href="https://www.o2switch.fr/" class="text-blue-500 hover:underline">o2switch.fr</a>, located at Rue du Village 50, 7850 MARCQ (Enghien).</p>
            <h3 class="text-xl font-semibold mt-4 text-tertiary-dark">Access to the Site</h3>
            <p>Access to the site and its use is reserved for strictly personal purposes. You agree not to use this site and the information contained therein for commercial, political, advertising purposes, or for any form of commercial solicitation, including sending unsolicited emails.</p>
            <h3 class="text-xl font-semibold mt-4 text-tertiary-dark">Site Content</h3>
            <p>All brands, photographs, texts, comments, illustrations, images, video sequences, sounds, and all computer applications used to operate this site are protected by intellectual property laws. Any reproduction, representation, use, or adaptation, in any form whatsoever, of all or part of these elements, without the prior written consent of the publisher, is strictly prohibited.</p>
            <h3 class="text-xl font-semibold mt-4 text-tertiary-dark">Site Management</h3>
            <p>For proper site management, the publisher may at any time: suspend, interrupt or limit access to all or part of the site; reserve access to the site for specific categories of users; delete any information that may disrupt its operation or contravene national or international laws.</p>
            <h3 class="text-xl font-semibold  mt-4 text-tertiary-dark">Responsibilities</h3>
            <p>The publisher cannot be held liable in the event of failure, breakdown, or interruption of operation preventing access to the site. You are solely responsible for the connection material you use. You must take all appropriate measures to protect your equipment and data from viral attacks via the Internet.</p>
            <h3 class="text-xl font-semibold  mt-4 text-tertiary-dark">Hypertext Links</h3>
            <p>The establishment of hypertext links to all or part of the site is authorized by the publisher. Any link must be removed upon simple request from the publisher.</p>
            <h3 class="text-xl font-semibold  mt-4 text-tertiary-dark">Data Collection and Protection</h3>
            <p>Your data is collected by CuteStorm. Personal data refers to any information relating to an identified or identifiable natural person. The personal information collected on the site is primarily used by the publisher to manage relations with you.</p>
            <h3 class="text-xl font-semibold  mt-4 text-tertiary-dark">Rights of Access, Rectification, and Deletion of Your Data</h3>
            <p>Under applicable data protection regulations, users have the following rights:</p>
            <ul class="list-disc list-inside">
                <li>The right of access: Users can exercise their right of access by writing to cutestorm@gmail.com.</li>
                <li>The right to rectification: Users can request that inaccurate personal data be updated.</li>
                <li>The right to deletion: Users can request the deletion of their personal data.</li>
                <li>The right to limit processing: Users can ask to limit the processing of their data.</li>
                <li>The right to object: Users can object to their data being processed.</li>
                <li>The right to portability: Users can request their data to be transmitted to another platform.</li>
            </ul>
            <h3 class="text-xl font-semibold  mt-4 text-tertiary-dark">Use of Data</h3>
            <p>The personal data collected aims to provide the platform's services and maintain a secure environment.</p>
            <h3 class="text-xl font-semibold  mt-4 text-tertiary-dark">Data Retention Policy</h3>
            <p>The platform retains your data for the period necessary to provide its services. We may also retain some information as required to satisfy legal obligations.</p>
            <h3 class="text-xl font-semibold  mt-4 text-tertiary-dark">Photographs and Representation of Products</h3>
            <p>Product photographs accompanying their descriptions are not contractual and do not bind the publisher.</p>
            <h3 class="text-xl font-semibold  mt-4 text-tertiary-dark">Applicable Law</h3>
            <p>Any dispute relating to the use of the site is subject to Belgian law.</p>
        </div>
    </div>
</div>
{% endblock %}
