{% extends "base.html.twig" %}

{% block title %}Your likes{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        {% for post in posts %}
            {% include "partials/_cardPost.html.twig" %}
        {% endfor %}
    </div>
    {% include "partials/_pagination.html.twig" with {
        'route': 'resume_likes',
        'parameters': {},
        'page': currentPage,
        'pages': totalPages
    } %}
</div>

{% endblock %}
