{% extends 'layouts/account_layout.html.twig' %}

{% block title %}Orders{% endblock %}

{% set currentTab = 'orders_index' %}

{% block content %}
    <div class="flex justify-between items-center mb-4">
        <h2 class="title title-second text-tertiary-dark">Orders</h2>
        <a href="{{ path('cart_show') }}" class="text-tertiary-dark underline">View cart</a>
    </div>
    {% include "partials/_orderItem.html.twig" with {orders: orders} %}
    {% include "partials/_pagination.html.twig" with {
        'route': 'orders_index',
        'parameters': {},
        'page': currentPage,
        'pages': totalPages
    } %}
{% endblock %}