<div class="w-full h-[70vh] relative">
    <div class="w-36 h-36 absolute md:top-1/2 top-40 md:-translate-y-1/2  md:right-20 md:left-0 left-2 -rotate-12">
        <img src="/images/flower2.svg" alt="flower2" class="w-full h-full object-contain">
    </div>
    <div class="w-64 h-64 absolute bottom-5 md:left-5 left-0 -rotate-12">
        <img src="/images/flower3.svg" alt="flower3" class="w-full h-full object-contain">
    </div>
    <div class="w-48 h-48 absolute top-0 md:left-1/2 md:right-0 right-2 md:-translate-x-1/2 rotate-12">
        <img src="/images/flower4.svg" alt="flower4" class="w-full h-full object-contain">
    </div>
    <div class="w-32 h-32 absolute md:bottom-5 bottom-64 md:right-1/4 right-2 md:-translate-x-1/4 rotate-12">
        <img src="/images/flower5.svg" alt="flower5" class="w-full h-full object-contain">
    </div>
</div>