{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="container">
        <div class="w-auto d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                    <h1>{% block subtitle %}{% endblock %}</h1>
                    {% if totalUnread is not null and totalUnread > 0 %}
                        <span class="badge rounded-pill bg-danger">{{ totalUnread }}</span>
                    {% elseif pendingRequests is not null and pendingRequests|length > 0 %}
                        <span class="badge rounded-pill bg-warning">{{ pendingRequests|length }}</span>
                    {% endif %}        
                </div>
                <a href="{{ path('conversations_index') }}" class="btn btn-dark">Retour aux conversations</a>
        </div>
        <div class="container d-flex justify-content-between">
            <div class="conversations-container w-25">
                {% block partials_conv %}{% endblock %}
            </div>
            <div class="w-75 p-4">
                <div id="message-container" style="height: 400px; overflow-y: auto;">
                    <div class="w-100 container d-flex gap-20 flex-column">
                        {% block message_content %}
                            {# Default content, can be overridden #}
                            <p>Contenu spécifique de la page ici.</p>
                        {% endblock %}
                    </div>
                </div>
                <div class="mt-4">
                    {% block form_content %}
                        {# Default content, can be overridden #}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>

    {% block extra_scripts %}
        <script>
            document.addEventListener("DOMContentLoaded", function (event) {
                var messagesContainer = document.getElementById('message-container');
                messagesContainer.scrollTop = messagesContainer.scrollHeight;
            });
        </script>
    {% endblock %}
{% endblock %}
