{% extends 'layouts/conversation_layout.html.twig' %}

{% block title %}New chat with {{otherUser.pseudo}}{% endblock %}

{% set currentTab = 'conversations_create' %}

{% block message_content %}
    <p class="font-gliker text-tertiary-dark text-4xl">Be the first to write to this user :</p>
{% endblock %}

{% block form_content %}
        {{ form_start(form) }}
        <div class="w-full flex items-center justify-between gap-4">
            <div class="w-full">
                {{ form_widget(form.content, {'attr': {'class': 'form-control border-2 border-tertiary-dark', 'style': 'padding: 10px;'}}) }}
            </div>
            <div>
                <button type="submit" class="group w-[50px] h-[50px] border-2 border-tertiary-dark bg-highlight rounded-md">
                    <i class="fa-solid fa-location-arrow text-background rotate-45 group-hover:rotate-0 transition duration-300 mr-1"></i>
                </button>
            </div>
        </div>
        {{ form_end(form) }}
{% endblock %}
