{% extends 'layouts/conversation_layout.html.twig' %}

{% block title %}Chat with {{otherUser.pseudo}}{% endblock %}

{% set currentTab = 'conversations_show' %}

{% block message_content %}
    {% include 'partials/_message.html.twig' with { messages: messages } %}
{% endblock %}

{% block partials_conv %}
    {% include 'partials/_conversation.html.twig' with {
        title: 'Conversations',
        unread: totalUnread,
        items: conversations,
    } %}
{% endblock %}


{% block form_content %}
        {{ form_start(myForm) }}
        <div class="w-full flex items-center justify-between gap-4">
            <div class="w-full">
                {{ form_widget(myForm.content, {'attr': {'class': 'form-control border-2 border-tertiary-dark', 'style': 'padding: 10px;'}}) }}
            </div>
            <div>
                <button type="submit" class="group w-[50px] h-[50px] border-2 border-tertiary-dark bg-highlight rounded-md">
                    <i class="fa-solid fa-location-arrow text-background rotate-45 group-hover:rotate-0 transition duration-300 mr-1"></i>
                </button>
            </div>
        </div>
        {{ form_end(myForm) }}
{% endblock %}
