{% extends 'profile/conversations/base.html.twig' %}

{% block title %}Demande de Conversation{% endblock %}
{% block subtitle %}Demande de conversation avec {{ otherUser.pseudo }}{% endblock %}

{% block message_content %}
    {% include 'partials/_message.html.twig' with { messages: conversation.messages } %}
{% endblock %}

{% block form_content %}
    <div class="d-flex gap-2">
        <a href="{{ path('conversation_accept', { 'slug': conversation.sender.slug }) }}" class="btn btn-success">Accepter</a>
        <a href="{{ path('conversation_reject', { 'slug': conversation.sender.slug }) }}" class="btn btn-danger">Refuser</a>
    </div>
{% endblock %}


{% block partials_conv %}
    {% include 'partials/_conversation.html.twig' with {
        items: pendingRequests,
    } %}
{% endblock %}

