{% extends "mail/layout.html.twig" %}

{% block title %}Reported post{% endblock %}

{% block text %}One of your posts has been banned for not meeting our terms of use.{% endblock %}

{% block content %}
    <p>This post: </p>
    <strong>{{report.reportedPost.title}}</strong><br><br>
    
    <p>Has been deleted from our database for <strong>{{report.reason}}</strong></p>. <br><br>
    Be careful with what you post please, this community does not tolerate this kind of behaviour...
{% endblock %}
